<div class="row content" style="margin:0px">
  <% User.all.each do |u| %>
    <div class="inside col" style="padding:5px">
      <div class="title"><%=u.name%></div>
      <% if u.uid%2 ==0 %>
      <table class="table table-bordered table-striped">
      <% else %>
      <table class="table table-bordered table-striped">
      <!-- <table class="table table-bordered table-striped table-dark"> -->
      <% end %>
        <thead class="thead-dark"></thead>
        <tbody>
          <% u.teams.all.each do |t| %>
            <tr>
              <td><%=t.name%></td>
              <th scope="row"><%=t.value%></th>
            </tr>
          <% end %>
            <tr>
              <td>Total Points</td>
              <th scope="row"><%=u.total%></th>
            </tr>
        </tbody>
      </table>
    </div>
  <%end%>
</div>
<button class="test">Hello</button>
