<table>
  <tr>
    <% User.all.each do |u| %>
      <td class="column">
        <table>
          <thead>
            <tr>
              <td class="head"><%=u.name%></td>
            </tr>
          </thead>
          <tbody>
            <% u.teams.all.each do |t| %>
              <tr>
                <td><%=t.value%> <%=t.name%></td>
              </tr>
            <% end %>
              <tr>
                <td>Total Points: <%=u.total%></td>
              </tr>
          </tbody>
        </table>
      </td>
    <%end%>
  </tr>
</table>
<button class="test">Hello</button>
