/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require_self
 */

 @import "bootstrap";

 .column{
   border: solid;
   padding:0px;
 }

 .update {

 }

 .everyone {
   background-color: darkgrey;
 }

 .single {
   background-color: lightsalmon;
 }

 .title {
   font-size: 2.75rem;
 }

 .border {
   border: solid;
 }

 .table {
   font-size: 1.25rem;
 }

 .underline{
   border-bottom: solid;
 }

.inside {
  max-width: fit-content;
  margin: auto;
}

.outside {
  margin: auto;
}

.nowrap{
   white-space: nowrap;
}

.center{
  text-align: center;
}
